@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

* {
  box-sizing: border-box;
  user-select: none;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue',  'Open Sans', sans-serif;
  color: #616161;
  background-color: #f9f9f9;
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-height: 80px;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0 48px;
  width: 100%;
  list-style: none;
}

nav ul li.flexible {
  flex:1;
}
nav ul li.logo {
  display: flex;
}
nav ul li.name {
  display: flex;
  line-height: 48px;
  padding: 0 16px;
}
nav ul li.points {
  display: flex;
  background-color: #EDEDED;
  line-height: 48px;
  padding: 0 8px 0 16px;
  border-radius: 20px;
}

nav ul li.points img {
  margin-left: 8px;
}

@media only screen  and (max-width : 640px) {
  nav ul {
    padding: 0 16px;
  }
}

/*
*   HEADER
*/
header {
  display: flex;
  height: 412px;
  background-color: #6ee8ff;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 68px;
}

header h1 {
  font-size: 64px;
  font-weight: 400;
  color: #ffffff;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 48px;
  padding: 0 52px;
  align-self: flex-end;
}

@media only screen  and (max-width : 1224px) {
  header {
    height: 320px;
  }
  header h1 {
    font-size: 48px;
  }
}
@media only screen  and (max-width : 640px) {
  header {
    height: 160px;
    margin-bottom: 18px;
  }
  header h1 {
    font-size: 28px;
    margin-bottom: 12px;
    padding: 0 12px;
  }
}

section {
  width: 100%;
  max-width: 1280px;
  padding: 0 52px;
  align-self: center;
}
@media only screen  and (max-width : 1224px) {

}
@media only screen  and (max-width : 640px) {
  section {
    padding: 0 12px;
  }
}

/*
* MENU
*/

section.menu {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

section.menu .line {
  height: 1px;
  background-color: #d9d9d9;
}

section.menu .row {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
  justify-content: space-between;
}

section.menu .row h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
  margin: 0;
}

section.menu .row .vertical-divider {
  height: 48px;
  width: 1px;
  background-color: #d9d9d9;
  margin: 0 24px;
}
section.menu .row .sort-by {
  color: #a3a3a3;
}
section.menu .row button {
  background-color: #ededed;
  border: 0;
  border-radius: 20px;
  margin-left: 24px;
  padding: 0 16px;
  color: #A3A3A3;
  font-size: 24px;
  outline: none;
  transition: all 200ms ease-in-out;
}
section.menu .row button:hover {
  background-color: #d9d9d9;
  color: #616161;
}
section.menu .row button.active {
  background-color: #6ee8ff;
  color: #ffffff;
}
section.menu .row .flexible {
  flex: 1;
}

section.menu .row .prev-button,
section.menu .row .next-button {
  width:46px;
  height:46px;
  margin-left: 8px;
  border-radius: 100%;
  background-size: cover;
  opacity: 0.5;
  transition: all 200ms ease-in-out;
}
section.menu .row .prev-button.active:hover,
section.menu .row .next-button.active:hover {
  background-color: #f1f1f1;
}
section.menu .row .prev-button.active,
section.menu .row .next-button.active {
  opacity: 1;
}
section.menu .row .prev-button {
  background-image: url(./assets/arrow-left.svg);
}
section.menu .row .next-button {
  background-image: url(./assets/arrow-right.svg);
}

@media only screen  and (max-width : 1224px) {
  section.menu .row h2 {
    font-size: 18px;
    line-height: 36px;
  }
  section.menu .row button {
    font-size: 18px;
    margin-left: 18px;
  }
  section.menu .row .vertical-divider {
    height: 36px;
    margin: 0 18px;
  }
  section.menu .row .prev-button,
  section.menu .row .next-button {
    height: 36px;
    width: 36px;
  }
}
@media only screen  and (max-width : 860px) {
  section.menu .row {
    flex-wrap: wrap;
    margin-bottom: 16px;
    padding: 0;
  }
  section.menu .row h2.sort-by {
    /*display: none;*/
    text-align: left;
    order: -1;
    margin-bottom: 16px;
  }
  section.menu .row h2 {
    text-align: right;
    width: 50%;
    font-size: 16px;
    line-height: 16px;
  }
  section.menu .row .vertical-divider {
    display: none;
  }
  section.menu .row button {
    float: left;
    font-size: 13px;
    line-height: 32px;
    margin-right: 2%;
    margin-left: 0;
    margin-bottom: 8px;
    padding: 0;
    width: 32%;
  }
  section.menu .row button:last-of-type {
    margin-right: 0;
    
  }
}

/*
*   PRODUCTS
*/
section.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
}

section.products div.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  height: 288px;
  max-height: 288px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.1);
  transition: all 200ms ease-in-out;
  padding: 12px;
  overflow: hidden;
}
section.products div.card.available:hover {
  box-shadow: 12px 12px 32px 0 rgba(0,0,0,0.4);
  transform: translateY(-8px);
}
section.products div.card div.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 182px;
  text-align: center;
}
section.products div.card div.loader img{
  height: 48px;
  width: 48px;
}
section.products div.card div.image-container img {
  height: 100%;
}
section.products div.card div.redeem-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 200ms ease-in-out;
}
section.products div.card div.redeem-container .redeem-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
section.products div.card div.redeem-container .redeem-info .cost {
  font-size:36px;
  color:#ffffff;
  letter-spacing:-0.08px;
}
section.products div.card div.redeem-container .redeem-info .cost img {
  vertical-align: middle;
  transform: rotate3d(0, 1, 0, 0deg);
  transition: all 450ms ease-in-out;
}
section.products div.card div.redeem-container:hover .redeem-info .cost img {
  transform: rotate3d(0, 1, 0, -360deg);
}
section.products div.card div.redeem-container .redeem-info .button {
  background-color: #ffffff;
  line-height: 42px;
  margin-top: 12px;
  font-size: 18px;
  color: #616161;
  letter-spacing: -0.04px;
  min-width: 228px;
  border-radius: 42px;
  cursor: pointer;
}

section.products div.card:hover div.redeem-container {
  display: block;
  background-color: rgba(10, 212, 250, .86)
}

section.products div.card div.icon-available{
  position: absolute;
  top: 12px;
  right: 12px;
  height: 42px;
  width: 42px;
  background-image: url(assets/buy-blue.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
section.products div.card:hover div.icon-available {
  background-image: url(assets/buy-white.svg);
}
section.products div.card div.icon-no-available {
  position: absolute; 
  top: 12px;
  right: 12px;
  height: 42px;
  background-color: rgba(97,97,97,0.6);
  color: #FFFFFF;
  font-size: 14px;
  line-height: 42px;
  padding: 0 15px;
  border-radius: 100px;
}
section.products div.card div.icon-no-available img {
  vertical-align: middle;
  display: inline;
  margin: 0 -8px 0 4px;
}
section.products div.card .line {
  margin: 0 12px;
  background:#d9d9d9;
  height:1px;
}
section.products div.card .spacer {
  flex: 1;
}
section.products div.card .info {
  padding: 12px;
}
section.products div.card .info .category {
  font-size:16px;
  color:#a3a3a3;
  letter-spacing:-0.04px;
  text-align:left;
}
section.products div.card .info .name {
  font-size:18px;
  color:#616161;
  letter-spacing:-0.04px;
}

@media only screen  and (max-width : 1224px) {
  section.products {
    grid-template-columns: repeat(2, 1fr);
  }  
  section.products div.card {
    position: relative;
    flex-direction: row;
    height: 128px;
  }
  section.products div.card div.image-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  section.products div.card div.loader img{
    position: relative;
    height: 24px;
    width: 24px;
  }
  section.products div.card .line {
    margin: 12px 0;
    background:#d9d9d9;
    width: 1px;
  }
  section.products div.card div.image-container img {
    align-self: middle;
    width: 100%;
    height: auto;
  }
  section.products div.card .spacer {
    flex: 0;
  }
  section.products div.card .info {
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: flex-start;
    justify-content: center;
  }
}

@media only screen  and (max-width : 860px) {
  section.products {
    grid-template-columns: 1fr;
  }  
  section.products div.card div.image-container img {
    align-self: middle;
    width: auto;
    max-height: 100%;
    height: auto;
  }
}

/*
*   FOOTER
*/
section.footer {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

section.footer .line {
  height: 1px;
  background-color: #d9d9d9;
  margin-bottom: 74px;
}

section.footer .row {
  display: flex;
  flex-direction: row;
  padding-bottom: 24px;
}
section.footer .row .history {
  background-color: #ededed;
  border: 0;
  border-radius: 20px;
  padding: 0 16px;
  color: #A3A3A3;
  font-size: 24px;
  outline: none;
  transition: all 200ms ease-in-out;
  line-height: 48px;
}
section.footer .row .history:hover {
  background-color: #d9d9d9;
  color: #616161;
}

section.footer .row .flexible {
  flex: 1; 
}
section.footer .row .prev-button,
section.footer .row .next-button {
  width:46px;
  height:46px;
  margin-left: 8px;
  border-radius: 100%;
  background-size: cover;
  opacity: 0.5;
  transition: all 200ms ease-in-out;
}
section.footer .row .prev-button.active:hover,
section.footer .row .next-button.active:hover {
  background-color: #f1f1f1;
}
section.footer .row .prev-button.active,
section.footer .row .next-button.active {
  opacity: 1;
}
section.footer .row .prev-button {
  background-image: url(./assets/arrow-left.svg);
}
section.footer .row .next-button {
  background-image: url(./assets/arrow-right.svg);
}

/*
*   COMFIRM ALERT BODY
*/
.react-confirm-alert-body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue',  'Open Sans', sans-serif;
  max-height: calc(100vh - 40px);
  font-size: 16px;
  font-weight: 400;
}
.react-confirm-alert-body h1 {
  font-weight: 400;
}
.react-confirm-alert-button-group {
  display: flex;
  justify-content: space-between;
}
.react-confirm-alert-button-group > button {
  background-color: #ededed;
  color: #A3A3A3;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.react-confirm-alert-button-group > button:hover {
  background-color: #ededed;
  color: #A3A3A3;
  border-radius: 10px;
  background-color: #d9d9d9;
  color: #616161;
}
@media only screen  and (max-width : 440px) {
  .react-confirm-alert-body {
    max-width: calc(100vw - 40px);
  }
}

/*
* history-container
*/

.history-container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}